doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/static/css/convene-flow.css")
    title AIESAD 2025
  body
    block menu 
    block title
    block content